{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="auth-form-container">
    <h2 class="text-white">{% trans "Sign In" %}</h2>
    <p class="text-white">
        {% blocktrans %}
        If you don't have an account yet, please <a class="link text-decoration-underline" href="{{ signup_url }}">sign up</a> first.
        {% endblocktrans %}
    </p>

    <form class="auth-form" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn-auth" type="submit">{% trans "Sign In" %}</button>
    </form>
</div>
{% endblock %}

