{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block content %}
<div class="auth-form-container">
    <h2 class="text-white">{% trans "Sign Up" %}</h2>
    <p class="text-white">
        {% blocktrans %}
        Welcome to Epic Merch store! If you already have an account, please
        <a class="link text-decoration-underline" href="{{ login_url }}">sign in</a> instead.
        {% endblocktrans %}
    </p>
    
    <form class="auth-form" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        <div class="form-group text-white">
            {{ form.as_p }}
        </div>
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn-auth" type="submit">{% trans "Sign Up" %}</button>
    </form>
</div>
{% endblock %}

