{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="center-block">
    <div class ='logo-block'>
        <h1>Level Up with Epic Merch: The Ultimate Gaming Gear Store</h1>
        <a href="{% url 'products' %}" class="btn btn-outline-success">View Products</a>
    </div>
    <div class='delivery-block'>
        <h2>Free delivery on orders over ${{ free_delivery_threshold }}!</h2>
    </div>
</div>

<div class="brands_container">
    <div class="brands_logo text-center text-white">
        <h1>Buy only the best brands!</h1>
    </div>
    <div class="brands_img_container">
        <a href="{% url 'products' %}?brand=Razer" class="brand_img brand_img_1"></a>
        <a href="{% url 'products' %}?brand=SteelSeries" class="brand_img brand_img_2"></a>
        <a href="{% url 'products' %}?brand=HyperX" class="brand_img brand_img_3"></a>
    </div>
</div>

{% endblock %}
