body {
    background: url('/media/estore_bg.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #555;
    font-family: 'Lato';
}

/* Ensure dropdowns-search aligns to the left and profile-cart aligns to the right */
/* Dropdowns and search bar alignment */
.dropdowns-search {
    width: 80%; /* Reduce width to bring closer to the center */
    display: flex;
    align-items: center;
    justify-content: center; /* Even spacing between dropdowns and search */
    gap: 1em; /* Adjust spacing between dropdowns and search bar */
    margin-right: 2em; /* Fine-tune positioning */
}

.profile-cart {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align to the right */
    flex: 1; /* Allow space to expand */
    margin-right: 1.5em;
}

/* Main background color for the navbar */
.navbar {
    width: 100%; /* Ensures the navbar spans the full width of the screen */
    position: relative; /* Ensure it is positioned naturally (not fixed) */
    background-color: #383838; /* Dark background */
}

/* Logo and text color on the navbar */
.navbar-brand {
    color: white; /* Neon green for logo */
    margin-left: 1.5em;
}

.navbar-brand:hover {
    color: #A0A0A0;
}

/* Link color in the navbar */
.navbar-nav .nav-link {
    color: white; /* Light gray text for links */
}

/* Hover effect for the links */
.navbar-nav .nav-link:hover {
    color: #A0A0A0; /* Bright blue when hovered */
}

/* Background color for dropdown menus */
.dropdown-menu {
    background-color: #656565; /* Dark gray for dropdown */
    border: none;
}

/* Text color inside dropdown items */
.dropdown-item {
    color: white; /* Light gray text for dropdown items */
}

/* Hover effect for dropdown items */
.dropdown-item:hover {
    background-color: #A0A0A0; /* Neon green background on hover */
    color: #121212; /* Dark text on hover */
}

/* Search button style */
.btn-outline-success {
    color: #00FF33; /* Neon green for search button text */
    border-color: #00FF33; /* Neon green border for the button */
}

/* Hover effect for the search button */
.btn-outline-success:hover {
    background-color: #00CC33; /* Neon green background on hover */
    color: #121212; /* Dark text on hover */
}

/* Link color for the right-side links */
.navbar-nav.ms-auto .nav-link {
    color: white; /* Light gray text for right-side links */
    margin-right: 1.5em;
}

/* Hover effect for right-side links */
.navbar-nav.ms-auto .nav-link:hover {
    color: #A0A0A0; /* Bright blue on hover */
}

.container-fluid {
    --bs-gutter-x: 0 !important;
}

.delivery-block {
    position: relative;

}
.center-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 10px; 
    color: #fff; 
    max-width: 90%; 
}

.update-link, .remove-item {
    margin-top: 1rem;
}

.center-block .logo-block {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    color: #fff; 
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    border-top-left-radius: 10px; /* Round the top-left corner */
    border-top-right-radius: 10px; /* Round the top-right corner */
}

.center-block .logo-block h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.center-block .logo-block a {
    text-decoration: none;
    color: white;
    box-shadow: 0 2px 15px #00CC33;
}
.center-block .logo-block a:hover {
    color: black;
}
.center-block .delivery-block {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.2);
    color: black; 
    background-color: rgba(255, 255, 255, 0.5); 
    padding: 20px;
}

.center-block .delivery-block h2 {
    font-size: 1em;
    letter-spacing: 0.2em;
}


/* Загальні стилі */
html, body {
    margin: 0; /* Прибирає зайві відступи */
    display: flex;
    flex-direction: column; /* Робимо сторінку вертикальною колонкою */
}

/* Основний контент розтягується на всю доступну висоту */
main {
    min-height: 100vh; /* Ensure the content takes full height */
    flex: 1;
    margin-top: 70px; /* Adjust this value to the height of your header */
    padding-bottom: 2em; /* Optional: adds padding at the bottom for footer spacing */
}

/* Футер */
.footer {
    background-color: #383838 !important; /* Тло футера */
    color: white; /* Текст футера */
    text-align: center;
    padding: 1em 0; /* Відступи для вмісту футера */
    margin-top: auto; /* Футер знаходиться внизу сторінки */
}

.footer a {
    color: #A0A0A0;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* Ensures all cards are the same height */
    box-shadow: 0 0 8px white; /* Subtle shadow for depth */
    transition: transform 0.2s, box-shadow 0.5s; /* Smooth hover effect */
}

.card:hover {
    transform: translateY(-5px); /* Slight lift on hover */
    box-shadow: 0 0 20px white; /* Enhanced shadow on hover */
}


.card-detail-img {
    height: 100%;
    box-shadow: 0 0 5px white;
    border-radius: 10px;
}
.card-img-top {
    width: 100%;
    height: 250px;              
    object-fit: contain;     /* Ensure the entire image fits within the container */
    overflow: hidden;        /* Ensures no part of the image exceeds the boundaries */
}

.card-main {
    background-color: #383838;
    padding: 1em;
}

.card-footer {
    padding: 0.75em 1em;
    border-top: 1px solid #e0e0e0; /* Soft border for separation */
    color: white; /* White text for better contrast */
}


.product-container .col {
    display: flex;
    flex-direction: column;
}
.image-container {
    background-color: rgba(0, 0, 0, 0.3); /* Black background with opacity */
    border-radius: 10px;
    box-shadow: 0 0 8px white; /* Box shadow similar to image */
    height: 500px;
    padding: 0 !important;
    margin-right: 50px;
}

.image-container img {
    height: 400px;
}
/* Product Details Block */
.product-details-container {
    background-color: rgba(0, 0, 0, 0.3); /* Black background with opacity */
    color: white; /* White text for contrast */
    padding: 2em;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Box shadow similar to image */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Center the text vertically and horizontally */
    text-align: center;
    height: 500px;
    box-shadow: 0 0 8px white; /* Box shadow similar to image */
}

/* Make the Product Name Bigger */
.product-details-container .det-name  {
    font-size: 200% !important;
}


/* Sort Input Styles */
.sort-select-wrapper {
    position: relative;
    width: 50%; /* Adjust the width to fit the container */
}

#sort-selector {
    width: 100%;
    padding: 0.5em 1em;
    font-size: 0.9rem;
    color: #555;
    background-color: #fff; /* Light background for visibility */
    border: 2px solid;
    border-color: var(--border-color, black); /* Default border color (black) */
    border-radius: 5px;
    appearance: none; /* Removes default browser styling */
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Highlight border when active */
#sort-selector:focus {
    border-color: #00FF33; /* Neon green for focus */
    box-shadow: 0 0 5px #00FF33;
}

/* Dropdown arrow styling */
#sort-selector::after {
    content: "▼";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.8rem;
    color: #555;
    pointer-events: none;
}

/* Styling for selected and hover */
#sort-selector option {
    background-color: #fff; /* White background for dropdown options */
    color: #555;
}

#sort-selector option:hover {
    background-color: #00FF33; /* Highlighted background */
    color: #121212; /* Dark text for readability */
}

/* Wrapper alignment for responsiveness */
.sort-select-wrapper {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-black {
    background: black;
    color: white;
}
.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

/* Table styling */
.table {
    width: 100%;
    margin-bottom: 1.5rem;
    color: #555;
}

.table thead th {
    color: #ffffff; /* Light gray background for the table header */
    background-color: #383838; /* Darker text for contrast */
    border-bottom: 2px solid #dee2e6; /* Subtle border for separation */
    text-align: center; /* Center-align header text */
    padding: 1rem;
}

.table td {
    background-color: rgba(255, 255, 255, 0.7); /* Light gray with 50% opacity */
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
}
.table .input-group {
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.table td:nth-child(1)
{
    width: 20%;
}
.table td:nth-child(2) {
    text-align: left; /* Left-align for Product Info and Description */
    width: 40%; /* Adjusted width to take up less space */
}

.table td:nth-child(3),
.table td:nth-child(4) {
    text-align: center; /* Center-align for numeric values */
    width: 20%; /* Ensure numeric columns are consistent in width */
}

/* Bag item image */
.bag-item-image {
    max-width: 120px; /* Restrict image size to a smaller value */
    height: auto;
    border-radius: 8px; /* Rounded corners for images */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    object-fit: cover; /* Ensure image fits well */
}

/* Bag item details */
.bag-item-details {
    margin-left: 0.5rem; /* Reduced margin for a more compact layout */
    min-width: 100px; /* Ensure the content still has a minimum space */
    max-width: 200px; /* Restrict the maximum width for better control */
}

.bag-item-name {
    font-size: 1.2rem; /* Slightly smaller font for compact display */
    font-weight: bold;
    color: #000000;
    margin-bottom: 0.25rem;
}

.bag-item-description {
    max-width: 100%;
    color: #0d0d0d !important;
    font-size: 0.8rem; /* Reduced font size for description */
    margin-bottom: 0.5rem;
}

.bag-item-price {
    font-size: 1rem;
    color: #0c00f3; /* Bootstrap primary blue for prices */
}

/* Quantity and subtotal */
.bag-item-quantity,
.bag-item-subtotal {
    text-align: center;
    font-size: 1rem;
    color: #000000;
}

/* Bag item quantity buttons */
.qty-decrease,
.qty-increase {
    background-color: #343a40; /* Darker background */
    color: #ffffff; /* White text color */
    border: 1px solid #343a40; /* Border to match the button color */
    padding: 5px 10px; /* Add some padding to buttons */
}

.qty-decrease:hover,
.qty-increase:hover {
    background-color: #495057; /* Slightly lighter on hover */
    border-color: #495057; /* Border color for hover */
}

/* Quantity input */
.qty-sm {
    width: 50%; /* Make the input field 2 times smaller */
    height: calc(1.5em + .75rem + 2px); /* Adjust height to match button size */
    text-align: center; /* Center text in input */
    margin: 0; /* Remove any margin */
    padding: .375rem .75rem; /* Adjust padding */
    font-size: 1rem; /* Adjust font size */
}


/* Toast Container */
.message-container {
    position: fixed;
    top: 72px; /* Keeps the toast just below the header */
    right: 15px;
    z-index: 99999999999;
}

/* Custom Toast Style */
.custom-toast {
    border-radius: 10px !important;
    background-color: #383838; /* Dark gray background for the entire toast */
    color: white; /* White text for contrast */
    border-radius: 10px; /* Rounded corners */
    padding: 15px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
    font-size: 1rem;
    max-width: 300px; /* Prevents the toast from stretching too wide */
    width: auto;
}
.success-toast {
    box-shadow: 0 0 15px #00FF33;
}
.error-toast {
    box-shadow: 0 0 15px #cf0000;
}
.warning-toast {
    box-shadow: 0 0 15px #f0e40c;
}
.info-toast {
    box-shadow: 0 0 15px #1900ff;
}

/* Arrow and Cap */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}
.arrow-success {
    border-bottom: 8px solid #00FF33; /* Green arrow */
}

.arrow-error {
    border-bottom: 8px solid #cf0000; 
}

.arrow-warning {
    border-bottom: 8px solid #f0e40c; 
}

.arrow-info {
    border-bottom: 8px solid #1900ff; 
}


.w-100.toast-capper.bg-success {
    height: 2px;
    background-color: #00FF33; /* Green cap at the top */
}
.w-100.toast-capper.bg-error {
    height: 2px;
    background-color: #cf0000; /* Green cap at the top */
}
.w-100.toast-capper.bg-warning {
    height: 2px;
    background-color: #f0e40c; /* Green cap at the top */
}
.w-100.toast-capper.bg-info {
    height: 2px;
    background-color: #1900ff; /* Green cap at the top */
}

/* Toast Header */
.toast-header {
    background-color: #272727; /* Dark gray background for header */
    color: white; /* White text for header */
}

/* Toast Body */
.toast-body {
    background-color: #272727; /* Dark gray background for body */
    color: white; /* White text for body */
}

/* Toast Animation (Fade-in and Fade-out) */
.custom-toast.show {
    animation: fadeIn 0.5s ease-in-out, fadeOut 0.5s ease-in-out 7s forwards;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.related_products {
    margin-top: 50px;
}
.related_products h2 {
    margin-bottom: 50px;
}

.related-products-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;  /* Controls the spacing between the cards */
    margin: 0 auto;  /* Centers the container */
}

.related-product-card {
    width: 23%;  /* Controls the width of each product card */
    margin-bottom: 20px;  /* Adds space below each card */
}

/* Fade-in Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Fade-out Animation */
@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}



/* Responsive layout for mobile devices */
@media (max-width: 768px) {
    .dropdowns-search,
    .profile-cart {
        justify-content: center; /* Center both sections on mobile */
        margin: 0; /* Remove extra margins */
        text-align: center;
        flex-direction: column; /* Stack items vertically */
    }

    .dropdowns-search {
        width: 100%; /* Expand to full width on mobile */
        margin-bottom: 1em; /* Add spacing between blocks */
    }

    .footer {
        margin-top: 1em;
    }
    .card {
        margin-bottom: 1em; /* Add spacing between cards on smaller screens */
    }
    
}

  