{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="contact-form-container">
    <h2 class="text-white">Collaborate With Us</h2>
    <form class="contact-form text-white" method="post">
        <!-- Render the form fields dynamically -->
        {{ contact_form | crispy }}
        
        <!-- CSRF Token for security -->
        {% csrf_token %}
        
        <!-- Submit Button -->
        <div class="col_btn">
            <button class="btn btn-secondary" type="submit">Submit</button>
        </div>
    </form>
</div>


{% endblock %}