{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="contact-form-container">
    <h2 class="text-white">Collaborate With Us</h2>
    <form class="contact-form text-white" method="post">
        <!-- Render the form fields dynamically -->
        {{ contact_form | crispy }}
        
        <!-- CSRF Token for security -->
        {% csrf_token %}
        
        <!-- Submit Button -->
        <div class="col_btn">
            <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg keep-shopping-text" style="margin: 5px;">
                <span class="icon">
                    <i class="fas fa-chevron-left go_back_i"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
            <button class="btn btn-black rounded-0 btn-lg" type="submit" style="margin: 5px;">
                <span class="text-uppercase">Submit</span>
            </button>
        </div>
    </form>
</div>


{% endblock %}