{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
    <div class="container h-100">
        <div class="center-block">
            <div class ='logo-block'>
                <h1>The page you are looking for isn't available</h1>
                <a href="{% url 'home' %}" class="btn btn-outline-success">View Homepage</a>
            </div>
        </div>
    </div>
{% endblock %}