{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/add_product.css' %}">
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="add-product-container"> 
        <h2 class="logo-font mb-4 text-white text-center">Edit Product</h2>
        <form method="POST" action="{% url 'edit_product' product.id %}" enctype="multipart/form-data" class="add-product-form">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="add-product-btn-container">
                <a class="btn btn-outline-light rounded-0" href="{% url 'products' %}">Cancel</a>
                <button class="add-product-btn rounded-0" type="submit">Update Product</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}